body{
    background-color: #262626 !important;
}

/* for nav bar thingy on userPage */
.bmd-layout-content {
    height: 100vh;
}
/* .list-group-item :first-child {
    margin-right: .75rem;
} */

#titleText{
    font-size: 150px;
    text-align: center;
    color: white;
    font-family: 'Just Another Hand', cursive;
    letter-spacing: 7px;
}

#dateDisplay{
    font-size: 80px;
    text-align: center;
    color: white;
    font-family: 'Just Another Hand', cursive;
    letter-spacing: 7px;
}

#loginButton{
    font-size: 50px;
    display: block;
    margin: auto;
    text-align: center;
    color: #B39DDB;
    background-color: white;
    font-family: 'Just Another Hand', cursive;
    letter-spacing: 5px;
    font-weight: bold;
}

/* #inputEmail,
#inputPassword {
    
} */

.handwritten{
    font-size: 50px;
    font-family: 'Just Another Hand', cursive;
    color: white;
}

.centered{
    display: block !important;
    margin: auto !important;
}

#stateButton{
    background-color: #cc6ab5 !important;
    color: black !important;
    font-family: 'Just Another Hand', cursive;
    font-size: 60px;
    letter-spacing: 5px;
}

#addNightButton{
    font-size: 40px;
    font-family: 'Just Another Hand', cursive;
    background-color: #dbdbdb !important;
    color: black !important;
    margin-bottom: 50px !important;
}

.handwrittenB{
    font-size: 50px !important;
    font-family: 'Just Another Hand', cursive;
    color: black !important;
}
.handwrittenBSmall{
    font-size: 25px !important;
    font-family: 'Just Another Hand', cursive;
    color: black !important;
}

#submitAddNight{
    background-color:#9cffbd;
}

#cancel{
    background-color: #ffa3a8;
}

#cardAlign {
    display: flex;
    justify-content: space-between;
  }